.WalletConnectPanel {
  margin: 1em;
}

.WalletConnect {
  position: relative;
  justify-content: center;
  text-align: center;

  &-fields {
    display: flex;
    flex-direction: column;

    &-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      margin-top: 15px;
    }
  }
  &-wiki-link {
    margin-top: 15px;
  }
}
